{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors</title>
  </head>
  <body style="background-color: #FAF0E6;"/>
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <label for="move">Choose your move:</label>
      <select id="move" name="player_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
      <input type="hidden" name="computer_choice" value="{{ computer_choice }}" readonly>
      <br /><br />
      <input type="submit" value="Play" />
    </form>
  </body>
</html>
